<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生信息</title>
</head>
<style>
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: aquamarine;
    }
</style>
<body>
<h1 style="margin-left: 25%">学生信息表</h1>
    <table border="1px" style="margin-left: 20%" width="800px">
        <tr>
        <td>编号</td>
        <td>姓名</td>
        <td>年龄</td>
            <td>操作
            <a th:href="@{/add}">添加</a>
            </td>
        </tr>
        <tr th:each="stu:${stuList}">
            <td th:text="${stu.id}"></td>
            <td th:text="${stu.name}"></td>
            <td th:text="${stu.age}"></td>
            <td>
                <a th:href="@{|/update/${stu.id}|}">修改</a>
                <a th:href="@{|/delete/${stu.id}|}">删除</a>

            </td>
        </tr>
    </table>
</body>
</html>